body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image {
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gametitle {
  font-family:'Nosifer';
  font-size: 8vw;
  margin: 0;
  color:rgb(255, 208, 0);
  -webkit-text-stroke: 3px black;
}

.title {
  font-family: 'Shojumaru';
  font-weight: 700;
  font-size: 4.5vw;
  color:rgb(0, 0, 0);
  -webkit-text-stroke: 0.3px orange;
  text-shadow: 2px 2px #000000
}

.title>h3{
  margin: 2rem 0 1rem 0;
}

.MuiInputBase-input{
  font-size: 30px !important;
  color: rgb(255, 211, 182) !important;
  padding: 0!important;
  background-color: black !important;
  opacity: 0.7;
}

.MuiButton-containedSecondary {
  background-color: black !important;
  color: rgb(255, 211, 182) !important;
  font-size: 20px !important;
}

.MuiButton-contained {
  background-color: black !important;
  color: rgb(255, 208, 0) !important;
  font-size: 20px !important;
}

.MuiButton-containedPrimary {
  background-color: rgb(255, 208, 0) !important;
  color: rgb(0, 0, 0) !important;
  font-size: 4vh !important;
  box-shadow: 3px 3px black !important;
  margin:0.5rem !important
}

#newgame {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.listofplayers{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.listofplayers>p{
  font-family: 'Delius Swash Caps';
  font-size: 3vw;
  margin:0;
  padding: 0.4rem;
  color: black;
  background-color: rgb(255, 208, 0);
  border-radius: 20px;
  font-weight: bold;
}

.loadGame{
  margin:0;
}

.counter{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.votecounter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votecounter>h3{
  font-family: 'Shojumaru';
  font-weight: 700;
  font-size: 4.5vw;
  /* color:rgb(0, 0, 0); */
  -webkit-text-stroke: 0.3px rgb(7, 7, 7);
  text-shadow: 2px 2px #000000;
  color:rgb(255, 208, 0);
}

.counterbox{
  background-color: black !important;
  height:6vw;
  width: 6vw;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counterbox>p{
  text-align: center;
  margin:0;
  font-size: 3vw;
  color:orange

}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question>h3{
  margin:0;
  text-decoration: underline;
  color: white
}

.question>p{
  margin:0.5rem 0 0 0;
  font-size: 7vh;
  font-family:'Delius Swash Caps';
  font-weight: bolder;
  color:rgb(255, 208, 0);
  text-shadow: 2px 2px #000000;
  text-align: center;
}

.answers{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.answerList{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}

.winningAnswer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Delius Swash Caps';
  font-weight: bolder;
  color:rgb(0, 0, 0);
  font-size: 4vh;
  text-align: center;
}

.winningAnswer>h1{
  margin:0;
  font-family:'Shojumaru';
  font-size: 10vh;
  font-weight: bolder;
  color:rgb(255, 208, 0);
  text-shadow: 2px 2px #000000;
  text-align: center;
}

.voteQuestion{
  font-family:'Shojumaru';
  font-size: 5vh;
  font-weight: bolder;
  color:rgb(255, 208, 0);
  -webkit-text-stroke: 0.3px rgb(7, 7, 7);
  text-align: center;
}

.gameover{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Shojumaru';
  font-weight: bolder;
  color:rgb(255, 208, 0);
  -webkit-text-stroke: 0.3px rgb(7, 7, 7);
}

.gameover>h1{
  font-family:'Shojumaru';
  font-size: 20vh;
  font-weight: bolder;
  color:rgb(255, 208, 0);
  -webkit-text-stroke: 0.3px rgb(7, 7, 7);
}